<template>
  <div class="home">
    <HotSprings />
  </div>
</template>

<script>
import HotSprings from '../components/HotSprings.vue'

export default {
  name: 'Home',
  components: { HotSprings },
}
</script>
